<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Perl and Unix in 2010" />
<meta name="keywords" content="perl,code,linux,software,development" />
<meta name="author" content="Magnus Woldrich" />

<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pygments/neverland.css" />

<!-- TODO: Figure out rss feed -->
<title>trapd00r.se - Hacking Life.</title>

</head>

<body>
  <div id="wrap">
    <div id="header">
      <p id="toplinks">

      </p>

      <h1><a href="/"><div id="logo"></div></span>trap<span class="mousewings">(</span><span class="fade">d00r</span><span class="mousewings">)</span><span class="grey">;</span></a></h1>

    <div class="slogan">
      <a href="/perl" class="pink">perl(posts)</a> //
      <a href="/os"   class="green">os(linux,unix)</a> ?
      <a href="/code" class="orange">hacks(code)</a> :
      <a href="/me"   class="lightgreen">me(self)</a>
    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    <a href="http://github.com/trapd00r">github</a> ||
    <a href="http://github.com/trapd00r/pimpd">pimpd</a> ||
    <a href="http://github.com/trapd00r/rmcd">rmcd</a> ||
    <a href="http://github.com/trapd00r/clipbored">clipbored</a> ||
    <a href="http://github.com/trapd00r/pickyfont">pickyfont</a> ||
    <a href="http://github.com/trapd00r/colorcoke">colorcoke</a> ||
    <a href="http://github.com/trapd00r/utils">utils</a>

    <p>
    <span class="mousewings"><strong>Mail</strong></span>:<span class="grey"> magnus</span><span class="mousewings">@trapd00r.se</span><span class="mousewings"> // <strong>xmpp</strong></span>: <span class="grey">magnus</span><span class="mousewings">@trapd00r.se</span><span class="mousewings"> // <strong>irc</strong></span>: <span class="grey">scp1</span><span class="mousewings">@freenode</span>
    <p>&copy; 2010 <a href="/about.html">Magnus Woldrich</a></p>

  </div>
</div>
</body>
